@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
}

:root {
  --background: 220 13% 100%;
  --foreground: 220 5% 10%;
  --card: 220 13% 100%;
  --card-foreground: 220 5% 15%;
  --popover: 220 13% 100%;
  --popover-foreground: 220 95% 10%;
  --primary: 220 60% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 13% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 182 13% 95%;
  --muted-foreground: 220 5% 40%;
  --accent: 182 13% 90%;
  --accent-foreground: 220 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 220 5% 100%;
  --border: 220 20% 82%;
  --input: 220 20% 50%;
  --ring: 220 60% 50%;
  --radius: 0.5rem;
}

.dark {
  --background: 220 13% 10%;
  --foreground: 220 5% 100%;
  --card: 220 13% 10%;
  --card-foreground: 220 5% 100%;
  --popover: 220 13% 5%;
  --popover-foreground: 220 5% 100%;
  --primary: 220 60% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 13% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 182 13% 25%;
  --muted-foreground: 220 5% 65%;
  --accent: 182 13% 25%;
  --accent-foreground: 220 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 220 5% 100%;
  --border: 220 20% 50%;
  --input: 220 20% 50%;
  --ring: 220 60% 50%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}